// Variables
@import 'variables';

.container{
	max-width: 1350px;
	width: 100%;
}

.app-header{
	height: 100px;
	background: $white;
	position: relative;
	overflow-x: hidden;

	.container{
		height: inherit;
		position: relative;
		&:before{
	
			content: '';
			height: inherit;
			background: $red;
			position: absolute;
			top: 0;
			left: 396px;
			width: 200%;
			z-index: 1;

		}
		.logo{
			img{
				width: auto;
				height: 42px;
			}
		}
		nav{
			position: relative;
			z-index: 2;

			a{
				color: rgba($white, .6);
				font-size: 1.15rem;
				margin-left: 1.5rem;

				&:hover{
					color: rgba($white, 1);
				}
			}
		}
	}
}
a {
   outline: 0;
   text-decoration: none !important;
}
input::-moz-focus-inner { 
  border: 0; 
}