.container {
  max-width: 1350px;
  width: 100%;
}

.app-header {
  height: 100px;
  background: #ffffff;
  position: relative;
  overflow-x: hidden;
}

.app-header .container {
  height: inherit;
  position: relative;
}

.app-header .container:before {
  content: "";
  height: inherit;
  background: #ba2025;
  position: absolute;
  top: 0;
  left: 396px;
  width: 200%;
  z-index: 1;
}

.app-header .container .logo img {
  width: auto;
  height: 42px;
}

.app-header .container nav {
  position: relative;
  z-index: 2;
}

.app-header .container nav a {
  color: rgba(255, 255, 255, 0.6);
  font-size: 1.15rem;
  margin-left: 1.5rem;
}

.app-header .container nav a:hover {
  color: white;
}

a {
  outline: 0;
  text-decoration: none !important;
}

input::-moz-focus-inner {
  border: 0;
}

