<template>
	<section class="py-4">
		<div class="container">
			
			<h1 class="h4">Página principal</h1>
			
			<div v-if="auth">
				Hola {{ user.name }}
				<logout-btn></logout-btn>
			</div>
		</div>
	</section>
</template>
<script>
	
	import LogoutBtn from '../components/LogoutBtn';

	export default {
		components: {LogoutBtn},
		mounted(){
			this.$store.dispatch('get_auth_user');
		},
		computed: {
			auth(){
				return this.$store.getters.get_auth;
			},
			user(){
				return this.$store.getters.get_user;
			}
		}
	}
</script>