<template>
	<section class="py-5">
		<div class="container">
			<div class="row">
				<div class="col-sm-8 mx-auto text-center">
					<h1>ERROR 404</h1>
					<p class="lead">The page you are looking for is not exists.</p>
					<router-link :to="{name: 'home'}">Go back to home</router-link>
				</div>
			</div>
		</div>
	</section>
</template>
<script>
	export default {
	}
</script>