<template>
	<header class="app-header shadow-sm d-flex align-items-center">
		<div class="container d-flex align-items-center">
			<router-link :to="{name: 'home'}" class="logo">
				<img src="/img/logo.svg" alt="">
			</router-link>
			<nav class="ml-auto">
				<router-link :to="{name: 'home'}">Home</router-link>
				<a href="#">About us</a>
				<a href="#">Solutions</a>
				<a href="#">Services</a>
				<a href="#">Contact</a>
				<a href="#">Store</a>
				<router-link :to="{name: 'login'}">Login</router-link>
			</nav>
		</div>
	</header>
</template>
<script>
	export default {
	}
</script>