<template>
	<a href="#" @click.prevent="logout">Cerrar sesión</a>
</template>
<script>
	export default {
		methods: {
			logout(){
				let t = this;
				axios.post('/logout').then(() => {
					t.$router.push({
						name: 'login'
					});
					localStorage.removeItem('dynacom_website_auth');
				});
			}
		}
	}
</script>