<template>
	<section class="py-5">
		<div class="container">
			<div class="row">
				<div class="col-sm-4 mx-auto">
					<div class="card card-body shadow-sm">
				
						<div class="text-center mb-4">
							<p class="lead">Welcome back to Dynamic Communications</p>
							<p class="text-black-50">Please enter your credentials to sign in.</p>
						</div>

						<div class="alert alert-danger d-flex align-items-start" v-if="errors">
							<div>
								<span class="d-block" v-for="error in errors" v-text="error[0]"></span>
							</div>
							<button type="button" class="close ml-auto" @click.prevent="errors = null">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>

						<form action="" @submit.prevent="submit_form">
							<div class="form-group">
								<label for="">E-mail:</label>
								<input type="email" v-model="email" class="form-control" required>
							</div>
							<div class="form-group">
								<label for="">Password:</label>
								<input type="password" v-model="password" class="form-control" required>
							</div>
							<div class="mt-4 d-flex align-items-center">
								<button type="submit" ref="submit_btn" class="btn btn-primary">Sign In</button>
								<a href="#" class="ml-auto">Forgot your password?</a>
							</div>
						</form>
					</div>

					<div class="text-center mt-4">
						Don't have an account? <router-link :to="{name: 'signup'}">Sign up here</router-link>
					</div>

				</div>
			</div>
		</div>
	</section>
</template>
<script>
	export default {
		data(){
			return {
				email: '',
				password: '',
				errors: null
			}
		},
		methods: {
			submit_form(){
				let t = this;
				let btn = t.$refs.submit_btn;
				btn.setAttribute('disabled', 'disabled');
				axios.get('/sanctum/csrf-cookie').then(response => {
				    axios.post('/login', {
				    	email: t.email,
				    	password: t.password
				    }).then(({data}) => {
				    	t.$router.push({name: 'home'});
				    	localStorage.setItem('dynacom_website_auth', true);
				    }).catch((error) => {
				    	t.errors = error.response.data.errors;
				    	btn.removeAttribute('disabled');
				    });
				});
			}
		}
	}
</script>