<template>
	<section class="py-5">
		<div class="container">
			<div class="row">
				<div class="col-sm-4 mx-auto">
					<div class="card card-body shadow-sm">
				
						<div class="text-center mb-4">
							<p class="lead">Create an account</p>
							<p class="text-black-50">Please fill the fields bellow to create an account.</p>
						</div>

						<div class="alert alert-danger d-flex align-items-start" v-if="errors">
							<div>
								<span class="d-block" v-for="error in errors" v-text="error[0]"></span>
							</div>
							<button type="button" class="close ml-auto" @click.prevent="errors = null">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>

						<form action="" @submit.prevent="submit_form">
							<div class="form-group">
								<label for="">Full name:</label>
								<input type="email" v-model="email" class="form-control" required>
							</div>
							<div class="form-group">
								<label for="">E-mail:</label>
								<input type="email" v-model="email" class="form-control" required>
							</div>
							<div class="form-group">
								<label for="">Create a password:</label>
								<input type="password" v-model="password" class="form-control" required>
							</div>
							<div class="mt-4 d-flex align-items-center">
								<button type="submit" ref="submit_btn" class="btn btn-primary">Sign Up</button>
							</div>
						</form>
					</div>

					<div class="text-center mt-4">
						Already have an account? <router-link :to="{name: 'login'}">Sign in here</router-link>
					</div>

				</div>
			</div>
		</div>
	</section>
</template>
<script>
	export default {
		data(){
			return {
				errors: null
			}
		}
	}
</script>